.action {
  width: 100px;
  text-align: left;
  border-top: 2px solid $highlight;
  border-left: 2px solid $highlight;
  border-right: 2px solid $shade;
  border-bottom: 2px solid $shade;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);

  .symbol {
    margin: 5px 0 5px 20px;
    color: rgba(0, 0, 0, 0.5);
  }


  &.a-forward {
    background-color: $forward-colour;
  }

  &.a-left, &.a-right {
    background-color: $left-colour;
  }

  &.a-loop {
    background-color: $loop-colour;
    min-height: 50px;

    & > :first-child {
      margin-left: 5px;
      margin-right: 5px;
    }

    & * {
      margin-left: 5px;
    }

    &:first-child {
      margin-top: 5px;
    }

    &:last-child {
      margin-bottom: 5px;
    }
  }

  &.a-function {
    background-color: $funct-colour;
  }
}