.answer-list {
  background-color: rgba(0, 0, 0, 0.5);
  color: inherit;
  width: 80%;
  padding: 25px;
}

.answers-container {
  padding-left:15px;
}

.button, .play-btn {
  &.play-btn {
    margin-left: calc(20px + 50vw);
    width: calc(50vw - 50px);
  }

  margin: 5px 5px;
  padding: 0px 30px;
  font-size: 15pt;
  font-weight: 700;
  color: black;
  border-radius: 32px;
  background: $play-color;
  border-color: $play-color;
}

.button:hover, .play-btn:hover {
  box-shadow: 4px 4px 0 $shade;
  text-decoration: none;
}
