.available-actions {
  margin: 10px;
  padding: 10px;
  width: 50vw;
  min-height: 200px;
  @include sunken($pastel-red);

  &:nth-child {
    margin-top: 5px;
  }
}

.commands-list {
  padding: 10px;
  margin: 10px 20px;
  width: 50vw;
  min-height: 200px;
  @include sunken($pastel-red);
}

.commands-row {
  display: flex;
  flex-direction: row;
}