.looper {
    background: orange;
    padding: 5px 0 5px 0;
    margin:1px;
}

.looper-container {
    min-height: 50px;
}

.question {
  margin: 20px;
  background-color: #2c8c44;
  padding: 10px;
  color: white;
  border-radius: 5px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2)
}

.board {
  position:relative;
}

.overlay {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.square {
  width: 100%;
  height: 100%;
  background-image: url('../img/dirt.svg');
  border: 1px solid black;
}

.trees {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('../img/tree.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%
}

.camp {
  height: 100%;
  width: 100%;
  background-image: url('../img/tent.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%
}

.berry {
  // margin: 35%;
  // height: 30%;
  // width: 30%;
  background-image: url('../img/berry.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%
}

.path {
  background-color: #ddffdd;
}

.player {
  margin-left: 4%;
  position: absolute;
  top: 0;
  left: 0;
  height: 10em;
  width: 10em;
  padding: 1%;
  transition: all 1s ease;
  z-index: 49;

  // 1 bottom left
  // 2 top left
  // 3 top right
  // 4 bottom right

  .player-bottom-left {
    background: url('./../img/link.png') no-repeat -26px -16px;
    width: 32px;
    height: 62px;
  }

  .player-top-left {
    background: url('./../img/link.png') no-repeat -204px -14px;
    width: 38px;
    height: 62px;
  }

  .player-top-right {
    background: url('./../img/link.png') no-repeat -206px -104px;
    width: 38px;
    height: 62px;
  }

  .player-bottom-right {
    background: url('./../img/link.png') no-repeat -390px -106px;
    width: 32px;
    height: 62px;
  }

  // .player-top{
  //   background-color:red;
  //   height: 3em;
  //   width: 8em;
  //   border-radius:100px 100px 0 0;
  //   box-shadow: 0.5vw 0.5vw 5px black, inset -0.5vw 0vw 5px rgba(0,0,0,0.5)
  // }

  // .player-eye-right{
  //   position: absolute;
  //   background: black;
  //   border-radius: 50%;
  //   height: 0.5em;
  //   width: 0.5em;
  //   top: 4em;
  //   left: 4em;
  //   box-shadow: 0 0 0 0.5em white, 0 0 0 0.5em black;
  // }
  // .player-eye-left{
  //   position: absolute;
  //   background: black;
  //   border-radius: 50%;
  //   height: 0.5em;
  //   width: 0.5em;
  //   top: 4em;
  //   left: 2em;
  //   box-shadow: 0 0 0 0.5em white, 0 0 0 0.5em black;
  // }

  // .player-bottom{
  //   background-color:yellow;
  //   height: 3em;
  //   width: 8em;
  //   border-radius:0 0 100px 100px;
  //   box-shadow: 0.5vw 0.5vw 5px black, inset -0.5vw 0vw 5px rgba(0,0,0,0.5);

  // }

  // .player-feet{
  //   background-color:brown;
  //   height:3em;
  //   width:8em;
  //   border-radius:100px 100px 0 0;
  //   box-shadow: 0.5vw 0.1vw 5px 0px black, inset -0.5vw 0vw 5px rgba(0,0,0,0.5);
  // }
}

.game-splash {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.splash {
  // font-family: 'Rammetto One', cursive;
  color: white;
}

.outer-box {
  position: relative;
  // top: 25%;
  left: 15%;
  width: 70%;
  background-color: $pastel-red;
  @include border-pop;
  border-radius: 5px;
  margin: 0;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.inner-box {
  height: 70%;
  width: 80%;
  top: 20%;
  margin: 20px auto;
  @include sunken($shading)
}

.splash-title {
  font-size: 2em;
  margin: 10px;
}

.message {
  font-size: 1em;
  margin: 10px;
  color: white;
}

.success {
  color: rgba(162, 226, 96, 0.8);
}

.failure {
  color: rgba(74, 178, 92, 0.8);
}

.description {
  color: rgba(255, 255, 255, 0.8);
}

.splash-btn {
  &.right {
    top: 90%;
    left: 80%;
    text-align: center;
    background-color: $pastel-purple;
  }

  &.left {
    top: 90%;
    right: 80%;
    text-align: center;
    background-color: $pastel-purple;
  }

  position: absolute;
  font-size: 1em;
  line-height: 2.2em;
  width: 35%;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 850px) {
  .outer-box {
    width: 590px;
  }


}
