// Body colors
$size: 20vw;
$body-color: #4ee4c4;
$nav-color: #3aad94;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navbar {
  height: 80px;
  background-color: #F5F5F5;
  background-color: #0070DD;
  box-shadow: 0px 4px 0 rgba(0, 0, 0, 0.3);

  .navbar-brand {
    color: white;
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
  }
}

.hints {
  p {
    color: green;
    margin-left: 10px;
  }
}

.puzzle-container {
  padding: 50px
}

.body {
  // display: flex;
  margin: 0;
  background-color: #FFFFFF;
  color: #424242;
  height: 100%;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
}
