h1 {
  color: tomato;
}

$size: 20vw;

.board {
  width: 75vw;
  height: 75vw;
  // display: flex;
  margin: 10px 10vw;
}

.square {
  display: inline-flex;
  width: $size;
  height: $size;
  margin: 1px;
  background-image: url('../img/dirt.svg');
  background-position: center;
}

.trees {
  width: 100%;
  background-image: url('../img/tree.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%
}

.camp {
  width: 100%;
  background-image: url('../img/tent.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%
}

.path {
  background-color: #ddffdd;
}

.player {
  margin: 30% 35%;
}

.player-top{
  background-color:red;
  height:2.5vw;
  width:5vw;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.player-bottom{
  background-color:yellow;
  height:2.5vw;
  width:5vw;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.player-feet{
  background-color:brown;
  height:2.5vw;
  width:5vw;
  border-radius:100px 100px 0 0;
  animation: spin2 0.5s infinite linear;
}
